.header-container h1 {
    border-top: .2em double;
    border-bottom: .2em double;
    border-radius: 100%;
    margin-top: 10px;
    text-align: center;
}

body {
    display:grid;
    align-items: center;
    background-color: rgb(166, 219, 233);
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    border-bottom-width: 100em solid grey;
    margin: 0;

}


h1 {
    margin: 0;
    letter-spacing: 13px;
    font-size: 50px;
    font-weight: 25;
    text-align: center;
    padding-left: 50px;

}

h2 {
    font-family: fantasy;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 9;
    margin-top: 10px;
    padding-left: 20px;
}

p {
    display: flex;
    flex: auto;
    margin: 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
}

h4 {
    margin: 0;
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    text-decoration: underline;
}

.footerlinks {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-right: 60px;

}

.searchBar {

    padding-left:20px;

}