body {
    display:grid;
    align-items: center;
    background-color: rgb(166, 219, 233);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}

h1 {
    font-size: 2em;
    border-top: .2em double;
    border-bottom: .2em double;
    border-radius: 100%;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .5em;
    font-weight: 25;
    
}

h2 {
    font-family: fantasy;
    margin: 0;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 15;
    margin-top: .6em;
}

.searchBar {
    text-align: center;
    margin-top: 1rem;
}




.stockData {
    

    top:20px;
    left:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.5em;
    font-size: 1.25em;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
}

h4 {
    margin: 0;
    font-size: 1.875em;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 25;
    text-decoration: underline;
}

.footerlinks {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding: 1rem 0;
}

h6 {
    font-size: 15px;
    opacity: 50%;
}

.userFunctions {

    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin:1em;

}